OpenDoPEModel/components.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:od="http://opendope.org/components" attributeFormDefault="unqualified" elementFormDefault="qualified" 
targetNamespace="http://opendope.org/components" xmlns:xs="http://www.w3.org/2001/XMLSchema"> 

  <xs:element name="components">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="component">
          <xs:complexType>
            <xs:attribute name="id" type="xs:ID" use="required" />
            <xs:attribute name="iri" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>